# Programming

In [ ]:
help(print)

##### difference between sep and end
    - sep-the value of print will separate with value in sep
    - end-how to end the point output
**run multiple point statement with different values for end
    and sep

In [ ]:
name = "saikumar"
print(name,"saikumar",23,"nfdnjk",name == name,sep = "\n" )

In [ ]:
print(34,67,sep = "f")
print(87,72,end= " ",sep = "s")
print("hello")

# Data Types

- str
- int
- float
- bool

### str

In [ ]:
help(str)

In [ ]:
sq = 'sai'
dq ="sai"
tq = """sai"""

In [ ]:
sq

In [ ]:
dq

In [ ]:
tq

In [ ]:
sqa = 'I don\'t want to learn python'
sqa

In [ ]:
sqa = '"I don\'t want to learn python"'
print(sqa)

In [ ]:
q = 'I am a "python Developer"'
print(q)

In [ ]:
q = "I am a \"python Developer\""
print(q)

In [ ]:
q = """I am a \"python Developer\""""
q

### int

In [ ]:
a = 20
b= 40
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

In [ ]:
a = 20.7
b= 40.8
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

In [ ]:
st1 ="sai"
st2 = "kumar"
print(st1+st2)
print(st1-st2)

In [ ]:
print(st1-st2)

In [ ]:
print(st1*st2)

In [ ]:
print(st1*3)
print(st2*3)

In [ ]:
print(st1*2.7)

In [ ]:
print(st1/st2)

In [ ]:
print(st1//st2)

In [ ]:
print(st1%st2)

### Reading input from stdin
     - reads input line by line
     - the return value of input function is always a str

In [ ]:
s = input("Enter the srtring")
print(s,type(s))

In [ ]:
s = input("Enter the integer:")
print(s,type(s))

In [ ]:
s = input("Enter the floating :")
print(s,type(s))

In [ ]:
s = s = input("Enter the boolean")
print(s,type(s))

In [ ]:
print(int(93.5))
print(format(78))
print(str(56))
print(str(True))
print(bool(True))
print(int(True))

In [ ]:
s = int(input("Enter the integer:"))
print(s,type(s))

In [ ]:
s = float(input("Enter the floating :"))
print(s,type(s))

In [ ]:
s = bool(int((input("Enter the boolean:"))))
print(s,type(s))

In [ ]:
bool(5),bool(0),bool(-100),bool(2)

In [ ]:
bool(""),bool("0"),bool("a"),bool(" ")

In [ ]:
bool(0.1),bool(0.0)

In [ ]:
bool([]),bool([1,0,3]),bool([0,0,0])

In [ ]:
bool(True),bool(False)

### From stdin

- read no of items purchased as integer
- read item price as float
- read the amount given by the customer as float
- calculate the total amount as float
- print the outputs in the below format
         - Total amount should paid by customer is : $Total Amount
            - Amount given by customer : $Amount
            - Change we should give to the customer: $Change

In [8]:
items = int(input())
price = float(input())
amount_given_by_cusomer  = float(input())
total_amount = items*price
change = amount_given_by_cusomer -total_amount
print("Total amount should paid by customer is :", total_amount)
print("Amount given by customer :", amount_given_by_cusomer)
print("Change we should give to the customer:", change)

1
250
300
Total amount should paid by customer is : 250.0
Amount given by customer : 300.0
Change we should give to the customer: 50.0

# comparison operators

    - ==
    - >
    - <
    - >= 
    - <=
    - !=

# logical operators

    - &
    - |
    - ^
    - ~
    - not
    - and
    - or

In [9]:
sa ="sai"
sa1 = "kumar"
sa==sa1

False

In [10]:
sa>sa1

True

In [11]:
sa<sa1

False

In [12]:
sa<=sa1

False

In [13]:
sa>=sa1

True

In [14]:
sa!=sa1

True

In [15]:
s1 ="sai"
s2 ="sai" 
s1==s2

True

In [16]:
s1^s2

TypeError: unsupported operand type(s) for ^: 'str' and 'str'

In [17]:
a = 10
b = 20
a^b

30

In [18]:
2>3

False

In [19]:
2<3

True

In [20]:
2==3

False

In [21]:
2!=3

True

In [24]:
print(2|3)
print(10&2)
print(2^3)
print(~2)

3
2
1
-3

In [46]:
print(3|9)
print(20&2)
print(5^6)
print(~100)

11
0
3
-101

In [49]:
print(20 and 2)
print(2 or 3)
print(not 2)

2
2
False

In [47]:
5 and 2

2

In [48]:
10 and 2

2

In [50]:
20 and 2

2

In [51]:
20 or 2

20

In [52]:
100 or 2

100

In [54]:
1520 and 215151

215151

In [55]:
print(20 and 2)
print(5 and 2)
print(0 and 2)
print(5==4 and 5==5)
print(5==5 and 0)
print(5==5 and 7*7)

2
2
0
False
0
49

In [56]:
print(20 or 2)
print(5 or 2)
print(0 or 2)
print(5==4 or 5==5)
print(5==5 or 0)
print(5==5 or 7*7)

20
5
2
True
True
True

In [57]:
print(20 not 2)
print(5 not 2)
print(0 not 2)
print(5==4 not 5==5)
print(5==5 not 0)
print(5==5 not 7*7)

SyntaxError: invalid syntax (<ipython-input-57-7b042ad6eb00>, line 1)

In [58]:
print(20 & 2)
print(5 & 2)
print(0 & 2)
print(5==4 & 5==5)
print(5==5 & 0)
print(5==5 & 7*7)

0
0
0
False
False
False

In [62]:
"sai"=="sai"

True

In [64]:
"s"<"sa"

True

In [68]:
"sa">"sai"

False

In [69]:
"saidnjkhfkjgewuikcfcgdwuklcfyjkegfujkagf">="hjkdgsahjdghjsagdjgdhjegdhjegdhyjgahjdgeauifdgasyjfghjasdgfhjagfyhjhegfhjagfhjg"

True

In [73]:
"12">"sai"

False

In [74]:
"123"!="sai"

True

In [81]:
"saikumar"<"rar"

False

In [79]:
"rajiku">"ram"

False

# conditional Statementas

- if 
- else
- if elif
- if elif else

In [87]:
s = input()
if s.isnumeric():
    print("int",s)

10
int 10

`i/p = 3498
units place digit = 8
8%3 == 0
O/p False`

In [100]:
# check wheather unit digit is multiple of 3 or not
# if it is multiple print True
# else print False
n = int(input())
if n%3 ==0:
    print("True")
else:
    print("False")

3498
True

In [101]:
n = input()
if (int(n[-1]) % 3) ==0:
    print("True")
else:
    print("False")

3498
False

In [108]:
n = 123
n%10

3

In [109]:
n%100

23

In [110]:
n%1000

123

In [111]:
n = int(input())
if (n%10) % 3 ==0:
    print("True")
else:
    print("False")

3498
False

In [112]:
if 20:
    print(True)
else:
    print(False)

True

In [113]:
if -20:
    print(True)
else:
    print(False)

True

In [114]:
if 0:
    print(True)
else:
    print(False)

False

In [115]:
if "":
    print(True)
else:
    print(False)

False

In [116]:
if " ":
    print(True)
else:
    print(False)

True

In [121]:
n= 5
if n=5:
    print(True)
else:
    print(False)

SyntaxError: invalid syntax (<ipython-input-121-cfef427e2404>, line 2)

In [122]:
if 6=="6":
    print(True)
else:
    print(False)

False

In [123]:
# check whether the name starts with s or not .
# if it is starting with s. Count the no of characters
# in the string and check whether it is equal to five or not
# if  it is equal to five return True else return False

In [141]:
s = input()
if s[0].lower()=="s":
    if len(s) == 5:
        print(True)
    else:
        print(False)
else:
    print(False)

Saiku
True

In [142]:
s = input()
if s[0].lower()=="s" and (len(s) == 5):
        print(True)
else:
    print(False)

Saiku
True